/* ****************** G A L L E R Y **************** */

.gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin: -1rem -1rem;
}

.gallery-image {
	display: block;
	width: 500px;
	height: 400px;
	object-fit: cover;
	transition: transform 400ms ease-out;
}

.gallery-image:hover {
	transform: scale(1.15);

}

@media (min-width: 380px){
	.gallery-image {
		display: block;
		width: 330px;
		height: 280px;
		object-fit: cover;
		transition: transform 400ms ease-out;
		width: 95%;
		padding-left: 5%;
		padding-bottom: 10px;
	}
	.gallery-image:hover {
		transform: scale(1.15);
	}
}

@supports (display: grid) {
	.gallery {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
		grid-gap: 1rem;
	}

	.gallery,
	.gallery-item {
		margin: 20px;
	}
}


@media only screen and (max-width: 380px){
	.container-gallery {
	margin: 1rem;
	}
}

.container-gallery{
	
	color: aliceblue;
	margin: 10em;
	font: 300px;
}

h1{
	text-align: center;
}