.splash-screen {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: rgb(5,20,42);
    background: radial-gradient(circle, rgba(5,20,42,0.938813025210084) 0%, rgba(4,81,150,1) 51%, rgba(56,102,143,1) 57%, rgba(5,5,5,1) 100%);
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
    height: 140px;
    width: 140px;
    border: 1px solid transparent;
    box-shadow: 0 0 0 2px rgb(25, 116, 253);
    border-radius: 50%;
}

.waves {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: rgb(30, 146, 255);
    box-shadow: inset 0 0 50px rgb(0,0,0,.3);
}

.waves::before,
.waves::after {
    content: '';
    position: absolute;
    width: 200%;
    height: 200%;
    top: 0;
    left: 50%;
    transform: translate(-50%, -75%);
    background: #000;
}

.waves::before {
    border-radius: 45%;
    background: rgb(248, 248, 248);
    animation: wave91234 5s linear infinite;
}

.waves::after {
    border-radius: 40%;
    background: rgb(255,255,255,.5);
    animation: wave91234 10s linear infinite;
}

@keyframes wave91234 {
    0% {
    transform: translate(-50%, -75%) rotate(0deg);
    }

    100% {
    transform: translate(-50%, -75%) rotate(360deg);
    }
}

/**** S P I N N E R *****/
.spinner {
    position: absolute;
    top: 38.7%;
    left: 44.8%;
    width: 200px;
    height: 200px;
    display: grid;
    color: #2a6fdf;
    background: radial-gradient(farthest-side, currentColor calc(100% - 9px),#0000 calc(100% - 9px) 0);
    -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 25px),#000 calc(100% - 30px));
    border-radius: 50%;
    animation: spinner-sm4bhi 2s infinite linear;
}

.spinner::before,
.spinner::after {
content: "";
grid-area: 1/1;
background: linear-gradient(currentColor 0 0) center,
            linear-gradient(currentColor 0 0) center;
background-size: 100% 20px,20px 100%;
background-repeat: no-repeat;
}

.spinner::after {
transform: rotate(45deg);
}
    @keyframes spinner-sm4bhi {
    100% {
        transform: rotate(1turn);
    }
}

@media only screen and (max-width: 480px) {
    .spinner {
    margin: 5px;
    top: 34%;
    left: 22.6%;
    }
}

.sp{
    font-weight: 400;
    font-size: 32px;
    color: #fff;
    margin-top: 18rem;
}
span{
    font-weight: bold;
    color:#2a6fdf;
}